.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.showing{
  height:250px;
  width:250px;
  float:left;
  font-family: cursive;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius:10px;
  border:solid 1px #aaaaaa;

}

.glow{
  height:50px;
  width:50px;
  margin-left:10px;
  margin-top:20px;
  background-color: #aaaaaa;
  border:none;
}

#glowing{
  margin-left:550px;
}

body{
  font-family: cursive;
}

.filter{
  height:30px;
  width:70px;
  margin-bottom:20px;
  margin-left:10px;
  margin-right:10px;
  background-color: #aaaaaa;
  border:none;


}


button{
  cursor:pointer;
  
}



h3{
  margin-left:5px;
}


.log{
  margin-left:45%;
}

.make{
  height:40px;
  width:250px;
  margin-left:40%;
  margin-bottom:2%;

}

.lead{
  margin-left:47%;
  height:30px;
  width:50px;
  background-color:#aaaaaa;
  border:none;

}